.home-container {
  display: flex;
  flex-direction: column;
  gap: 12px;
  place-content: center;
  align-items: center;
  min-height: 50vh;
  justify-content: center;
}
.watchlist-button,
.myprofile-button,
.search-button,
.journal-button {
  width: 220px;
}
