
.button {
  background-color: #7b68ee !important;
  color: #fff !important;
  border: none;
  padding: 10px 25px;
  width: 120px;
  height: 45px;
  text-transform: capitalize !important;
}
.MuiAutocomplete-inputRoot {
  padding: 2px 39px 7px 9px !important;
}
